<div class="container-fluid py-3">
  <div class="row">
    <div class="col pointer scale-0125 rounded py-3 px-4 shadow bg-primary text-light h5 fw-bold mb-0" tabindex="0" (click)="switchAnimation()" (keyup.enter)="switchAnimation()" role="button" aria-expanded="{{isShow}}" aria-controls="collapsable-content">
      {{title}}
    </div>
    @if (isShow) {
      <div id="collapsable-content" class="container-fluid mt-0 rounded border-primary border-bottom border-start border-end  animate__animated animate__faster" [class]="animateClass"
        >
        <ng-content></ng-content>
      </div>
    }
  </div>
</div>